<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/Style.css">
    <link rel="stylesheet" href="../Css/styleGC.css">
    <link rel="icon" href="../img/Logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Regalos</title>
</head>

<body>
    <!-- Header, Barra de Navegación -->
    <header class="container-fluid" > 
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#inicio">
                <img src="../img/Logo.png" alt="logo" class="logo" width="100%" height="60">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"  aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-1 mb-lg-0">
                        <li  class="nav-item dropdown border-end border-2">
                            <a class="nav-link" role="button" aria-expanded="false" id="inicio" href="../../index.html">INICIO</a></li>
                        <li class="nav-item dropdown border-start border-end border-2">
                            <a class="nav-link" role="button" aria-expanded="false" href="./Productos.html">PRODUCTOS</a></li>
                        <li class="nav-item dropdown border-start border-end border-2">
                            <a class="nav-link" role="button" aria-expanded="false" href="./giftscards.html" >REGALOS</a></li>
                        <li class="nav-item dropdown border-start">
                            <a class="nav-link" role="button" aria-expanded="false" href="./contacto.html">CONTACTO</a></li>
                    </ul>
                    <form>
                        <label for="buscar">
                            <input class="search" type="text" id="buscar" placeholder="Buscar...">
                        </label>
                        <button type="submit" class="boton-anadir">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <!-- Tarjetas de regalo y regalos-->
    <main>
        <img src="../img/PORTADA.jpg" alt="portadaGiftcard" class="imgGC">
        <div class="gifts">
            <h1>GIFT CARD</h1>
        <P>UNA OPCION IDEAL PARA ESE OBSEQUIO QUE QUERES DARLE A ALGUIEN ESPECIAL</P>
        </div>
        <div class="cards">
            <div class="card text-center mb-4 me-4 " style="width: 18rem;" class= "tarjeta">
                <img src="../img/Card.jpg" class="card-img-top" alt="GIFT">
                <div class="card-body">
                    <h5 class="card-title">Gift Card I</h5>
                    <p class="card-text-center">$5000</p>
                    <a href="#" class="btn btn-success">Añadir al carrito</a>
                </div>
            </div>
            <div class="card text-center mb-4 me-4 " style="width: 18rem;" class= "tarjeta">
                <img src="../img/Card.jpg" class="card-img-top" alt="GIFT">
                <div class="card-body">
                    <h5 class="card-title">Gift Card II</h5>
                    <p class="card-text-center">$10.000</p>
                    <a href="#" class="btn btn-success">Añadir al carrito</a>
                </div>
            </div>
            <div class="card text-center mb-4 me-4 " style="width: 18rem;" class= "tarjeta">
                <img src="../img/Card.jpg" class="card-img-top" alt="GIFTCARD">
                <div class="card-body">
                    <h5 class="card-title">Gift Card III</h5>
                    <p class="card-text-center">$15.000</p>
                    <a href="#" class="btn btn-success">Añadir al carrito</a>
                </div>
            </div>
            <h2 class="gifts">Elegi tu Regalo</h2>
            <div class="card text-center mb-4 me-4 " style="width: 18rem;" class= "tarjeta">
                <img src="../img/CAJA REGALO.jpg" class="card-img-top" alt="cAJA">
                <div class="card-body">
                    <h5 class="card-title">Caja de regalo</h5>
                    <p class="card-text-center">$800</p>
                    <a href="#" class="btn btn-success">Añadir al carrito</a>
                </div>
            </div>
            <div class="card text-center mb-4 me-4 " style="width: 18rem;" class= "tarjeta">
                <img src="../img/REGALOMAMA.jpg" class="card-img-top" alt="regalo">
                <div class="card-body">
                    <h5 class="card-title">Regalo Mamá y Bebé</h5>
                    <p class="card-text-center">$2640</p>
                    <a href="#" class="btn btn-success">Añadir al carrito</a>
                </div>
            </div>
            <div class="card text-center mb-4 me-4 " style="width: 18rem;" class= "tarjeta">
                <img src="../img/REGALO PALETA.jpg" class="card-img-top" alt="regalo">
                <div class="card-body">
                    <h5 class="card-title">Regalo Paleta de Sombras</h5>
                    <p class="card-text-center">$3850</p>
                    <a href="#" class="btn btn-success">Añadir al carrito</a>
                </div>
            </div>
            <div class="card text-center mb-4 me-4 " style="width: 18rem;" class= "tarjeta">
                <img src="../img/REgalo hombre.jpg" class="card-img-top" alt="regalo">
                <div class="card-body">
                    <h5 class="card-title">Regalo Humor Masculino</h5>
                    <p class="card-text-center">$8700</p>
                    <a href="#" class="btn btn-success">Añadir al carrito</a>
                </div>
            </div>
            <div class="card text-center mb-4 me-4 " style="width: 18rem;" class= "tarjeta">
                <img src="../img/BOLSA CHICA.jpg" class="card-img-top" alt="bolsa">
                <div class="card-body">
                    <h5 class="card-title">Bolsa Chica de regalo</h5>
                    <p class="card-text-center">$750</p>
                    <a href="#" class="btn btn-success">Añadir al carrito</a>
                </div>
            </div>
            <div class="card text-center mb-4 me-4 " style="width: 18rem;" class= "tarjeta">
                <img src="../img/BOLSAMEDIANA.jpg" class="card-img-top" alt="bolsa">
                <div class="card-body">
                    <h5 class="card-title">Bolsa Mediana de regalo</h5>
                    <p class="card-text-center">$799</p>
                    <a href="#" class="btn btn-success">Añadir al carrito</a>
                </div>
            </div>
        </div>
        
    </main>

    <!-- Icono Flotante-->
    <div class="iconoW">
        <a href="https://www.whatsapp.com/" target="_blank"><button><i class="fa-brands fa-whatsapp"></i></button></a>
    </div>

    <!-- Footer-->
    <footer>
        <div class="contenedor">
            <nav class="sitio">
                <ul>
                    <li id="title">NUESTRO SITIO </li>
                    <li><a href="#">¿Como comprar?</a></li>
                    <li><a href="#">Terminos y condiciones</a></li>
                    <li><a href="#">Preguntas Frecuentes</a></li>
                </ul>
            </nav>
    
            <nav class="contacto">
                <ul>
                    <li id="title">CONTACTO</li>
                    <li>Tel: (223) 4637893 | (011) 6467890</li>
                    <li>E-mail: tiendanatural@gmail.com.ar | natural@gmail.com</li>
                    <li>Dirección: Rivadavia 3050, Mar del Plata.</li>
                </ul>
            </nav>
            
        </div>
        <p class="p">Tienda Natural 2023</p>
    
    </footer>
    

    <!-- Link de JS de Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>