/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Code+Pro:wght@300&display=swap');

*{
    margin: 0 px;
    padding: 0px;
    box-sizing: border-box;
}

/* STYLE BODY */

.contenedor{
    width: 100%;
    display: flex;
}

aside{
    width: 18%;
    padding: 2%;
}
aside section nav ul, aside section nav a{
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    color: #2d6e33;
    font-size: 18px;
}

aside section nav a:hover{
    color: #968a8a;
    font-size: 22px;
} 

/* STYLE CARDS */
.contenedor main{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.contenedor main .tarjeta{
    margin: 20%;

}
.contenedor main .titulos{
    flex-wrap: nowrap;
    width: 100%;
    color: #838383;
    text-align: center;
    margin: 3px;
    font-size: 40px;
}

.cards h5{
    font-family: "Open Sans",sans-serif;
    font-weight: bold;
    color: #721010;
}
.contenedor main p{
    font-size: 20px;
    font-weight: bold;
}

/* Responsive aside*/
@media(max-width:800px){
    .contenedor aside{
        display: none;
    }
    .contenedor main{
        width: 100%;
        justify-content: center;
    }
}
