/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Code+Pro:wght@300&display=swap');

*{
    margin: 0 px;
    padding: 0px;
    box-sizing: border-box;
}
/* Header */

header ul li a:hover{ 
    font-size: 18px;
}
.logo{
    max-width: 100%;
    margin-left: 1%;
}
.logo:hover{
    transform: scale(1.07) ;
}

.boton-anadir{
    background-color:#fdfdfd70;
    border:#fdfdfd70;
} 

.boton-anadir:hover{
    cursor: pointer;
    font-size: 15px;
}

.search{
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
    background-color: #c8dce625;
    border-color: black;
}


/* Cuerpo */
/* PRESENTACION PAGINA */
.info{
    font-family: "Open Sans",sans-serif;
    font-weight: bold;
    padding: 3%;
    width: 100%;
    text-align: center;
    
}
.info h1{
    font-size: 50px;
}
/* style PROPOSITO EMPRESA */
.articuloPro{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.articuloPro .arti{
    width: 30%;
    margin: 2%;
}

.articuloPro .arti .img{
    max-width:  100%; 
    border-radius: 100px;
}

/* STYLE IMG CARRUSEL */
.carousel-item  img{
    height: 75vh;
    margin-bottom: 20px;
}

/* Icono Flotante Whatsapp*/
.iconoW{
    z-index: 20;
    bottom: 20px;
    right: 20px;
    position: fixed;
}

.iconoW button{
    height: 50px;
    width: 50px;
    background-color: #27cd40;
    border-radius: 100% ;
    border: solid #27cd40;
}
.iconoW button :hover{
    cursor: pointer;
}
.iconoW button i{
    color: white;
    font-size: 30px;
}

.iconoW button i:hover{
    cursor: pointer;
    font-size: 35px;
}
/* TITULO CAPSULAS*/
.video h3{
    text-align: center;
    font-family: "Open Sans",sans-serif;
    font-weight: bold;
    padding: 3%;
}

/* Footer*/
footer{
    width: 100%;
    bottom: 0;
    text-align: center;
    margin-top: 100px;
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
    background-color: #69ac7454 ;
    z-index: 10;
}

.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    text-align: left;
    }
    
.contacto , .sitio{
    width: 30%;
    height: auto;
    margin-bottom: 50px;
    
}

footer ul{
    list-style: none;
}

.contacto ul li,.sitio ul li{
    margin: 15px;
    font-size: 17px;
    font-family: "Open Sans",sans-serif;
}

footer .contenedor .sitio ul li a{
    text-decoration: none;
    font-family: "Open Sans",sans-serif;
    color:black;
}
#title{
    font-family: open sans;
    font-weight:bold;
    font-size: 17px;
    color: #2da3c7;
}
footer .p{
    color:rgb(115, 115, 115);
    }

/* Responsive article*/
@media(max-width:800px){
    .articuloPro{
        display: flex;
        flex-direction: column;
    }

    .articuloPro .arti{
        width: 100%;
        text-align: center;
    }

    /* Responsive contenedor footer*/
    footer .contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;

    }

    .contacto , .sitio{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
}
